.Calcboard {
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 180px;
}

.Calccolumn {
    min-width: 200px;
    min-height: 200px;
    height: 100%;
}


.containerCalc {
    position: relative;

}
/* Bottom left text */
.ClearBox {
    position: absolute;
    top: 65%;
    left: 0%;
}
.DecimalBox {
    position: absolute;
    top: 70%;
    left: 0%;
}
.EqualsBox {
    position: absolute;
    top: 75%;
    left: 0%;
}
.Number1Box {
    position: absolute;
    top: 25%;
    left: 0%;
}
.Number2Box {
    position: absolute;
    top: 35%;
    left: 0%;
}
/* Bottom left text */
.AddBox {
    position: absolute;
    top: 45%;
    left: 0%;
}

/* Top left text */
.SubtractBox {
    position: absolute;
    top: 50%;
    left: 0%;
}

/* Top right text */
.MultiplyBox {
    position: absolute;
    top: 55%;
    left: 0%;
}
.DivideBox {
    position: absolute;
    top: 60%;
    left: 0%;
}
.TotalBox {
    position: absolute;
    top: 80%;
    left: 0%;
}
/* Bottom right text */
.SecondBox {
    position: absolute;
    top: 20%;
    left: 0%;
}

/* Centered text */
.FirstBox {
    position: absolute;
    top: 10%;
    left: 0%;
}

.AbsoluteText {
    position: absolute;
    top: 2%;
    left: 0%;
}
.SecondText {
    position: absolute;
    top: 15%;
    left: 0%;
}

.FirstText {
    position: absolute;
    top: 5%;
    left: 0%;
    display:flex;
}



.Calcbtn {
    display: inline-block;
    font-weight: 400;
    color: #3a2de4;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    border: 1px solid #808080;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-shadow: 4px 4px 4px #3a2de4;
}



.CalcBoxInput {
    display: inline-block;
    font-weight: 400;
    color: #3a2de4;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    border: 1px solid #808080;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-shadow: 4px 4px 4px #3a2de4;
}

