
.board {
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 180px;
}

.column {
    min-width: 60px;
    min-height: 60px;
    height: 100%;
}

.gamepiece {
    border: solid 1px black;
    min-height: 60px;
    min-width: 60px;
}

.x {
    background-image: url("../letter-x.png");
    background-repeat: no-repeat;
}

.o {
    background-image: url("../letter-o.png");
    background-repeat: no-repeat;
}

.blank {
    background-image: none;
}
