@inherits LayoutComponentBase


<div class="page BGBlackDarkBlue">
   <div class="main">
       <div class="px-4">
            <NavMenu />
       </div>

       <div class="content px-4">
            @Body
       </div>
    <br/><svg width="1600" height="20">
  <rect width="1600" height="20" style="fill:rgb(40 40 83);" />
</svg><br/>
    



        <div class="IcySegoeWhite">
            <NavLink class=""href="">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Frost Steel Corporation 2021-X
            </NavLink>
        </div>
        <div class="IcySegoeWhite">
            <NavLink class=""href="Privacy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Privacy
            </NavLink>
        </div>

    




    
    </div>
</div>
